<%= render 'shared/header', header: "Register" %>
<%= render 'shared/errors', obj: @user %>
<%= form_for @user, html: {class: 'form-horizontal', role: 'form'} do |f| %>
 <div class="form-group">
  <%= f.label :username, class: "col-sm-2 control-label" %>
  <div class="col-sm-4">
    <%= f.text_field :username, class: "form-control" %>
  </div>
 </div>

 <div class="form-group">
   <%= f.label :email, class: "col-sm-2 control-label" %>
   <div class="col-sm-4">
     <%= f.text_field :email, class: "form-control"  %>
   </div>
 </div>
 <div class="form-group">
   <%= f.label :password, class: "col-sm-2 control-label" %>
   <div class="col-sm-4">
     <%= f.password_field :password, class: "form-control" %>
  </div>
  <div class="form-group">
   <%= f.label :password_confirmation , class: "col-sm-2 control-label" %>
   <div class="col-sm-4">
     <%= f.password_field :password_confirmation, class: "form-control" %>
  </div>
 </div>
  <div class="form-group">
   <div class="col-sm-offset-2 col-sm-4">
      <%= f.submit "Register", class: "btn btn-default" %>
   </div>
  </div>
<% end %>